<nav>
  <div class="header">
    <div class="logo">
      <a href="/lido/index.php"><img src="/lido/static/img/logo.png" alt="logo" height="60" width="100"></a>
    </div>

    <ul class="menu">
      <li><a href="/lido/index.php">Home</a></li>
      <li><a href="/lido/index.php#about us">About us</a></li>
      <li><a href="/lido/index.php#servizi">Servizi</a></li>
      <li><a href="/lido/index.php#galleria">Galleria</a></li>
      <li><a href="/lido/index.php#contatti">Contatti</a></li>
    </ul>
  
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
</nav>