<div id="servizi" class="servizi">
    <h2 class="med-text">I nostri servizi</h2>
</div>

<div class="container">
    <div class="row big-padding">
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <span style="color:#57AEE7;opacity: 60%">
                <a href="/servizi/ombrelloni"><i class="fa-solid fa-umbrella-beach fa-3x btn-hover"></i></a>
            </span>
            <hr/>    
            <h3>Spiaggia attrezzata</h3>
            <p>Un fantastico resort completo. Vieni a prenotare il tuo lettino, il tuo ombrellone, la tua cabina e la tua doccia privata.</p>
            <a href="/servizi/ombrelloni" class="button"><i><u>Scopri di più</u></i></a>
        </div>
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <span style="color:#57AEE7;opacity: 60%">
                <a href="/servizi/ristorante.php"><i class="fa-solid fa-utensils fa-3x btn-hover"></i></a>
            </span>
            <hr/>
            <h3>Ristorante</h3>
            <p>La cucina proposta dallo chef è attenta alla stagionalità delle materie prime e il servizio è di livello indiscutibile.</p>
            <a href="/servizi/ristorante.php" class="button"><i><u>Scopri di più</u></i></a>
        </div>
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <span style="color:#57AEE7;opacity: 60%">
                <a href="/servizi/eventi-privati.php"><i class="fa-solid fa-martini-glass-citrus fa-3x btn-hover"></i></a>
            </span>
            <hr/>
            <h3>Eventi privati</h3>
            <p>Vantando uno splendido spazio aperto fronte mare, la proprietà sull'esclusiva spiaggia è il luogo ideale per eventi.</p>
            <a href="/servizi/eventi-privati.php" class="button"><i><u>Scopri di più</u></i></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row big-padding">
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <span style="color:#57AEE7; opacity: 60%">
                <a href="/servizi/mini-club.php"><i class="fa-solid fa-chess-rook fa-3x btn-hover"></i></a>
            </span>
            <hr/>
            <h3>Mini Club</h3>
            <p>Un'area giochi attrezzata, accompagnata da un servizio di animazione con cui far divertire i bambini di qualunque età. </p>
            <a href="/servizi/mini-club.php" class="button"><i><u>Scopri di più</u></i></a>
        </div>
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <span style="color:#57AEE7;opacity: 60%">
                <a href="/servizi/beach-volley.php"><i class="fa-solid fa-volleyball fa-3x btn-hover"></i></a>
            </span>
            <hr/>
            <h3>Campi beach volley</h3>
            <p>Una distesa di campi di beach volley vi aspettano per divertirvi e per organnizzare tornei e partite con i vistri amici.</p>
            <a href="/servizi/beach-volley.php" class="button"><i><u>Scopri di più</u></i></a>
        </div>
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <span style="color:#57AEE7;opacity: 60%">
                <a href="/servizi/tour-della-città.php"><i class="fa-solid fa-city fa-3x btn-hover"></i></a>
            </span>
            <hr/>
            <h3>Tour della città</h3>
            <p>Con il suo paesaggio pittoresco e mozzafiato, la Costa Smeralda rimane oggi una delle destinazioni più popolari in Italia.</p>
            <a href="/servizi/tour-della-città.php" class="button"><i><u>Scopri di più</u></i></a>
        </div>
    </div>
</div>