/* TABELLA OMBRELLONI */
/*
#prenotazione {
  width: 70%;
  margin: 50px;
}

.item1 {
  grid-area: header;
  text-align: left;
}
.item2{
  grid-area: n_ombrellone;
  text-align: left;
}
.item3 {
  grid-area: c_ombrellone;
  text-align: center;
}
.item4 {
  grid-area: n_lettini;
  text-align: left;
}
.item5 {
  grid-area: c_lettini;
  text-align: center;
}
.item6{
  grid-area: n_sdraio;
  text-align: left;
}
.item7 {
  grid-area: c_sdraio;
  text-align: center;
}
.item8{
  grid-area: n_cabine;
  text-align: left;
}
.item9 {
  grid-area: c_cabine;
  text-align: center;
}
#prenotazione > .grid-container {
  display: grid;
  grid-template-areas: 
    'header header'
    'n_ombrellone c_ombrellone'
    'n_lettini c_lettini'
    'n_sdraio c_sdraio'
    'n_cabine c_cabine'
    'footer footer';
  gap: 10px;
  background-color: #57AEE7;
  padding: 10px;
}
#prenotazione > .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  font-size: 30px;
}
*/


/* --------------------------------------------------------------------------- NAVBAR ------------------------------------------------------------------------------------------ */

.navbar {
  transition: all 0.4s;
  font-family: 'Imprima', sans-serif;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar-brand > img {
  width: 30%;
  height: 30%;
}


/* Change navbar styling on scroll */
.navbar.active {
  background: #57AEE7;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.3);
}

.navbar.active .nav-link {
  color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {

  .navbar {
    transition: all 0.4s;
  }
  
  .navbar .nav-link {
    color: #fff;
  }
  
  .navbar .nav-link:hover,
  .navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar .navbar-brand {
    color: #fff;
  }
  
  .navbar-brand > img {
    width: 30%;
    height: 30%;
  }
  
  
  /* Change navbar styling on scroll */
  .navbar.active {
    background: #57AEE7;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.3);
  }
  
  .navbar.active .nav-link {
    color: #fff;
  }
  
  .navbar.active .nav-link:hover,
  .navbar.active .nav-link:focus {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar.active .navbar-brand {
    color: #555;
  }
}

.dropdown-menu {
  background-color: #57AEE7;
}

.dropdown-item {
  background-color: #57AEE7;
}

.dropdown-item > p {
  transition: all .2s ease-in-out;
  color: white;
}

.dropdown-item:hover {
  background-color: #57AEE7;
}

.dropdown-item > p:hover {
  transform: scale(1.1);
  color: white;
}



/* --------------------------------------------------------------------------- SERVIZI --------------------------------------------------------------------------------- */

/*  EFFETTO BOTTONI SEZIONE SERVIZI HOME  */
.btn-hover { 
  transition: all .2s ease-in-out; 
}
.btn-hover:hover {
  transform: scale(1.1); 
}

/* PERSONALIZZAZIONE PAGINA RISTORANTE */
#ristorante {
  padding: 50px;
}

/*  FRECCIA HERO SECTION  */
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 50px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation:    fade_move_down 4s ease-in-out infinite;
  animation:         fade_move_down 4s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}



/*------------------------------------------------------------------------ OMBRELLONI --------------------------------------------------------------------------------------*/

#ombrelloni {
  margin: 100px;
  width: auto;
  align-items: center;
  justify-content: center;
}

#ombrelloni > h1 {
  color: #57AEE7;
  border-bottom: 3px solid #57AEE7;
}


/*  CONTENITORE PULSANTI PAGINA OMBRELLONI  */
.flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
}
.row {
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #57AEE7;
}
.item {
  height: 40px;
  width: 40px;
  margin: 2px;
  padding: 0%;
}
.item-id {
  display: flex;
  height: 40px;
  width: 40px;
  margin: 2px;
  padding-top: 6px;
  margin-right: 20px;
  color: #57AEE7;
}
.btn-umbrella {
  width: 40px;
  height: 40px;
  padding: 0%;
  border: 0px;
  border-radius: 50%;
  color: #fff;
  background-color: #57AEE7;
}
.btn-umbrella:hover {
  color: #fff;
  border: 2px solid #57AEE7;
}


/*--------------------------------------------------------------------------- PRENOTAZIONE --------------------------------------------------------------------------------------*/

/*  */
#prenotazione{
  background-color: white;
  height: 1000px;
  width: 100%;
  text-align: center;
  align-items: center;
}

#prenotazione > .box-prenotazione {
  max-width: 60%;
  border: solid 20px #57AEE7;
  border-radius: 20px;
  background-color: #57AEE7;
  margin: 300px;
  margin-top: 100px;
}

#prenotazione > .box-prenotazione > .container {
  margin: 0px;
  padding: 20px;
}

#prenotazione > .box-prenotazione > .container > .row-prenotazione {
  background-color: white;
  margin: 20px;
  border: 2px solid #57AEE7;
  border-radius: 15px;
}

.col-lg-5 {
  text-align: left;
}
.col-lg-8 {
  text-align: left;
}
.col-lg-10 {
  text-align: left;
  font-size: 15px;
  color: #57AEE7;
  margin-bottom: 10px;
  text-decoration: underline;
}


#prenotazione > .box-prenotazione > .container > .row > .col-lg-10 > h1 {
  color: #57AEE7;
}

.btn-lettini {
  width: 30px;
  height: 30px;
  padding: 0%;
  margin: 3px;
  border: 0px;
  border-radius: 50%;
  color: #fff;
  background-color: #57AEE7;
}
.btn-lettini:hover {
  color: #fff;
  border: 3px solid #57AEE7;
}

.btn-pagamento {
  width: auto;
  height: auto;
}




#caricamento > h1{
  color: #57AEE7;
}

#loader-container{
  font-family: "Fira Sans", sans-serif;
  text-align:center;
  padding:20px;
  height:80px;
  vertical-align: center;
}

.loader{
  display:inline-block;
  width:15px;
  height:30px;
  margin:0.3px;
  background:#207AC9;
}
@keyframes move {
  0%   {height:30px;}
  50%  {height:15px;}
  100% {height:30px;}
}

@keyframes move2 {
  0%   {height:15px;}
  50%  {height:30px;}
  100% {height:15px;}
}
#loader-one{
  animation-name: move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#loader-two{
  animation-name: move2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#loader-three{
  animation-name: move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}





.fa-brands {
  margin: 3px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

.nav-link {
  font-size: 20px;
}