/* ! Base Style */

body {
  align-items: center;
  text-align: center;
}

a{
  text-decoration: none;
}

h1{
  color:#fff; 
  font-family: 'Voltaire', sans-serif;
  font-size: 50px;
}

h2{
  color:#000; 
  padding-bottom: 10px;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 16px;
  /* prova */
  text-align: center;
}

h3{
  color:#000; 
  padding-bottom: 5px;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 20px;
}

h4{
  color:#fff; 
  padding-bottom: 30px;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 40px;
}

h5{
  color:#000; 
  padding-bottom: 30px;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 16px;
}

p{
  line-height: 28px;
  color: #666;
  font-weight: 300;
}

.big-text{
  font-size: 70px;
  font-weight: 900;
}
.med-text{
  font-size: 40px;
}
.normal-text{
  font-size: 20px;
}
.small-text
{font-size: 14px;
}

.intro-text{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.button{
  padding: 15px 28px;
  background:#57AEE7; 
  color:#fff;
  display: inline-block;
  border-radius: 50px;
}

.button:hover {
  color:#fff ;
  background-color:#000;
}

.button2{
  padding: 15px 28px;
  background:transparent; 
  color:#fff;
  display: inline-block;
  border-color: #fff;
  border-style: solid;
}

.button2:hover {
  color:#000 ;
  background-color:#fff;
}

@media (max-width: 768px) {
  .big-text{
    font-size: 40px;
  }
}

/* ! Header */

.header{
  width: 100%;
  position: fixed;
  z-index: 10;
  top:0;
  left:50%;
  transform: translateX(-50%);
  padding: 30px;
  display: flex;
  max-width: 1350px;
}

.logo{
  z-index:1;
 
}

.menu{
  width: 100%;
  z-index: 0;
}

.menu li{
  display: inline-block;
}

.menu li a{
  color: #fff;
  padding: 20px;
  display: block;
}

.menu li a:hover {
  color:#000 ;
  background-color:#fff;
  opacity: 0.3;
  border-radius: 20px;  
}

.hamburger{
  display: none;
}

@media (max-width: 768px) {

  .menu{
    position: absolute; 
    top:0; 
    right:-100%;
    background: #000;
    height: 100vh;
    padding-top: 110px;
  }
  .menu li{
    display: block;
  }
  .menu li a{
    padding: 15px 25px;
    font-size: 20px;
  }

  .menu--open{
    right:0%;
  }

  .hamburger{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top:40px;
    right:30px
  }
  .hamburger span{
    background: #fff;
    height: 3px;
    width: 100%;
    display: block;
    margin-bottom: 5px;
  }

}

/* ! Hero */

.hero{
  position: relative;
  height: 100vh;
  display: flex; 
  width: 100%;
  align-items: center;
  background: linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0, 0.9)),
   url('bg-video1.png') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.hero:after{
  content:'';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.4;
}

.hero__content{
  width: 50%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 30px;
  z-index: 1;
  position: relative;
  justify-content: center;
}

.hero__content h1{
  color:#fff;
  text-align: center;
  font-size: 200px;
  padding-top: 200px;
}

.hero__content p{
  text-align: center;
  padding-top: -30px;
  color: #fff;
  font-family: 'Libre Baskerville', sans-serif;
}

#video{
  position : absolute;
  bottom:0;
  left:0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* ! poster */

.poster{
  display: flex;
  height: 60vh;
  width: 70%;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 90%);
  border:outset ;
  background-color: #fff;
  margin-top: 30px;
}

.poster_img{
  width: 50%;
  height: 140%;
  margin-top: 185px;
  margin-right: 5px;
}

.poster_img img{
  object-fit: cover;
  width: 100%;
  height: 70%;
}

.poster_content{
  width: 50%;
  padding: 50px;
}

@media (max-width:768px) {

  .poster{
    flex-wrap: wrap;
    height: auto;
  }
  .poster_img, 
  .poster_content{
    width: 100%;
  }
}

/* ! servizi */

.servizi{
  padding-top: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  margin: 0 auto;
  padding-top:50px ;

}

/* ! Galleria */

.galleria{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}





/* FOOTER */
footer {
  background-color: #57AEE7;
  align-items: center;
  text-align: center;
  height: 300px;
  width: 100%;
}

footer > .footer-icon-container {
  display: grid;
  grid-template-areas: 'item1 item2 item3 item4';
}

footer > .footer-icon-container > a > i {
  color: white;
  opacity: 1;
  display: inline-block;
  align-items: center;
  width: 20px;
  height: 20px;
  line-height: 15px;
  padding: auto;
}

footer > div > p {
  color: white;
  text-emphasis: bold;
}


/* TABELLA OMBRELLONI */

/*
.item {
  grid-area: item;
}

.grid-container {
  display: grid;
  grid-template-areas: 
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item';
  gap: 5px;
  padding: 5px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
*/


.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  height: 10px;
  width: 10px;
  margin: 20px;
  box-sizing: border-box;
}


.btn-umbrella {
  width: 40px;
  padding:1px;
}

#umbrellas .free_umbrella {
  color: white;
  background-color: green;
  border: solid 1px;
  text-align: center;
  border-spacing: 2px;
}

#umbrellas .busy_umbrella {
  color: white;
  background-color: red;
  border: solid 1px;
  text-align: center;
  border-spacing: 2px;
}


/* Contatti */

.contatti{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}