/* TABELLA OMBRELLONI */

/*
.item {
  grid-area: item;
}

.grid-container {
  display: grid;
  grid-template-areas: 
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item'
    'item item item item item item item item item item item item item item item item item item item item';
  gap: 5px;
  padding: 5px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
*/


.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
  
.item {
    height: 10px;
    width: 10px;
    margin: 20px;
    box-sizing: border-box;
}
  
  
.btn-umbrella {
    width: 40px;
    padding:1px;
}
  
#ombrelloni .free_umbrella {
    color: white;
    background-color: green;
    border: solid 1px;
    text-align: center;
    border-spacing: 2px;
}
  
#ombrelloni .busy_umbrella {
    color: white;
    background-color: red;
    border: solid 1px;
    text-align: center;
    border-spacing: 2px;
}


.btn-hover { 
  transition: all .2s ease-in-out; 
}

.btn-hover:hover {
  transform: scale(1.1); 
}


#ristorante {
  padding: 50px;
}