/* TABELLA OMBRELLONI */
/*
#prenotazione {
  width: 70%;
  margin: 50px;
}

.item1 {
  grid-area: header;
  text-align: left;
}
.item2{
  grid-area: n_ombrellone;
  text-align: left;
}
.item3 {
  grid-area: c_ombrellone;
  text-align: center;
}
.item4 {
  grid-area: n_lettini;
  text-align: left;
}
.item5 {
  grid-area: c_lettini;
  text-align: center;
}
.item6{
  grid-area: n_sdraio;
  text-align: left;
}
.item7 {
  grid-area: c_sdraio;
  text-align: center;
}
.item8{
  grid-area: n_cabine;
  text-align: left;
}
.item9 {
  grid-area: c_cabine;
  text-align: center;
}
#prenotazione > .grid-container {
  display: grid;
  grid-template-areas: 
    'header header'
    'n_ombrellone c_ombrellone'
    'n_lettini c_lettini'
    'n_sdraio c_sdraio'
    'n_cabine c_cabine'
    'footer footer';
  gap: 10px;
  background-color: #57AEE7;
  padding: 10px;
}
#prenotazione > .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  font-size: 30px;
}
*/


/* --------------------------------------------------------------------------- NAVBAR ------------------------------------------------------------------------------------------ */

.navbar {
  transition: all 0.4s;
  font-family: 'Imprima', sans-serif;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar-brand > img {
  width: 30%;
  height: 30%;
}


/* Change navbar styling on scroll */
.navbar.active {
  background: #57AEE7;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.3);
}

.navbar.active .nav-link {
  color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {

  .navbar {
    transition: all 0.4s;
  }
  
  .navbar .nav-link {
    color: #fff;
  }
  
  .navbar .nav-link:hover,
  .navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar .navbar-brand {
    color: #fff;
  }
  
  .navbar-brand > img {
    width: 30%;
    height: 30%;
  }
  
  
  /* Change navbar styling on scroll */
  .navbar.active {
    background: #57AEE7;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.3);
  }
  
  .navbar.active .nav-link {
    color: #fff;
  }
  
  .navbar.active .nav-link:hover,
  .navbar.active .nav-link:focus {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar.active .navbar-brand {
    color: #555;
  }
}

.dropdown-menu {
  background-color: #57AEE7;
}

.dropdown-item {
  background-color: #57AEE7;
}

.dropdown-item > p {
  transition: all .2s ease-in-out;
  color: white;
}

.dropdown-item:hover {
  background-color: #57AEE7;
}

.dropdown-item > p:hover {
  transform: scale(1.1);
  color: white;
}



/* --------------------------------------------------------------------------- SERVIZI --------------------------------------------------------------------------------- */

/*  EFFETTO BOTTONI SEZIONE SERVIZI HOME  */
.btn-hover { 
  transition: all .2s ease-in-out; 
}
.btn-hover:hover {
  transform: scale(1.1); 
}

/* PERSONALIZZAZIONE PAGINA RISTORANTE */
#ristorante {
  padding: 50px;
}

/*  FRECCIA HERO SECTION  */
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 50px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation:    fade_move_down 4s ease-in-out infinite;
  animation:         fade_move_down 4s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}



/*------------------------------------------------------------------------ OMBRELLONI --------------------------------------------------------------------------------------*/

#ombrelloni {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

#ombrelloni > h1 {
  color: #57AEE7;
  border-bottom: 3px solid #57AEE7;
}


/*  CONTENITORE PULSANTI PAGINA OMBRELLONI  */
#ombrelloni >.flexbox-container {
  display: flex;
  width: fit-content;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
}
#ombrelloni >.flexbox-container > .row {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
}
#ombrelloni >.flexbox-container > .row > .item {
  height: 40px;
  width: 40px;
  margin: 2px;
  padding: 0%;
}
#ombrelloni >.flexbox-container > .row > .item-id {
  height: 40px;
  width: 120px;
  line-height: 40px;
  color: #57AEE7;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
.btn-umbrella {
  width: 40px;
  height: 40px;
  padding: 0%;
  border: 0px;
  border-radius: 50%;
  color: #fff;
  background-color: #57AEE7;
  font-size: 18px;
}
#ombrelloni >.flexbox-container > .row > .item > .btn-umbrella:hover {
  color: #fff;
  border: 2px solid #57AEE7;
}

#ombrelloni > .container > .row > .right {
  text-align: right;
  vertical-align: middle;
}

#ombrelloni > .container > .row > .left {
  text-align: left;
  vertical-align: middle;
}

#ombrelloni > .container > .row > .left > button {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 768px) {
  #ombrelloni >.flexbox-container > .row {
    border: 2px solid #57AEE7;
  }
}

/*--------------------------------------------------------------------------- PRENOTAZIONE --------------------------------------------------------------------------------------*/


#prenotazione {
  height: 800px;
  line-height: 800px;
  text-align: center;
  vertical-align: middle;
}

#prenotazione > .container {
  width: 75%;
  border: solid 10px #57AEE7;
  border-radius: 10px;
  background-color: #57AEE7;
  margin: auto;
  margin-top: 150px;
}

#prenotazione > .container > .row {
  font-family: 'Imprima', sans-serif;
  color: #fff;
  height: 50px;
  line-height: 50px;
  margin: 20px;
  border-bottom: 2px solid #fff;
  font-size: 20px;
  text-align: left;
  vertical-align: middle;
}

#prenotazione > .container > .row > .col-lg-2 {
  text-align: right;
}

#prenotazione > .container > .row > .col-lg-1 {
  text-align: center;
}

#prenotazione > .cntainer > .row > [class*="col-"] {
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

#prenotazione > .container > .row > .col-lg-12 > h1 {
  color: #fff;
  font-family: 'Imprima', sans-serif;
  font-weight: bold;
}

.alert {
  font-style: italic;
  text-decoration: underline;
  font-size: 18px;
}


.btn-prenotazione {
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  color: #57AEE7;
  background-color: #fff;
  border: 1px solid #57AEE7;
  border-radius: 50%;
  text-align: center;
}

.btn-pagamento {
  width: auto;
  height: auto;
}

#prenotazione > .container > .no-bg {
  border-bottom: none;
}

@media only screen and (max-width: 768px) {
  #prenotazione > .container > .row > .col-lg-12 > h1 {
    font-size: 35px;
  }

  [class*="col-"] {
    font-size: 15px;
  }
}



/* --------------------------------------------------------- CARICAMENTO --------------------------------------------------------------------- */

#caricamento {
  min-height: 100%;
  max-height: 100%;
  height: 1000px;
  line-height: 1000px;
  width: 100%;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

#caricamento > h1{
  color: #fff;
}

#caricamento > hr {
  color: #fff;
  width: 100%;
  justify-content: center;
}

#caricamento > #loader-container{
  font-family: "Fira Sans", sans-serif;
  text-align:center;
  padding:20px;
  height:80px;
  vertical-align: middle;
}

#caricamento > #loader-container > .loader{
  display:inline-block;
  width:20px;
  height:50px;
  margin:0.3px;
  background:#fff;
}
@keyframes move {
  0%   {height:50px
;}
  50%  {height:20px;}
  100% {height:50px
;}
}

@keyframes move2 {
  0%   {height:20px;}
  50%  {height:50px
;}
  100% {height:20px;}
}
#loader-one{
  animation-name: move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#loader-two{
  animation-name: move2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#loader-three{
  animation-name: move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}



/* ---------------------------------------------------------------------------- FOOTER -------------------------------------------------------------------------------- */
footer {
  background-color: #57AEE7;
  width: 100%;
  height: fit-content;
}
footer > .container > .row {
  margin: 15px;
  padding: 0px;
}
footer > .container > .row > .col-lg-2 > a {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #fff;
}
footer > .container > .row > .col-lg-12 > a {
  color: #fff;
  font-size: 15px;
  text-decoration: underline;
  margin: 0px;
  padding: 0px;
}
footer > .container > .row > .col-lg-12 > p {
  color: #fff;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}
footer > .container > .row > .col-lg-12 > .footer-icon-container > span > a > i{
  margin: 3px;
  font-size: 20px;
  padding: 0px;
}
footer > .container > .row > .col-lg-12 > .footer-icon-container{
  margin: 0px;
  padding: 0px;
  border-top: 2px solid #fff;
  padding-top: 15px;
}


#coockie {
  margin: 50px;
  text-align: left;
}