<div id="contatti" class="contatti">
    <h2 class="med-text">Contatti</h2>
</div>

<div class="icone-contatti">
    <span style="color: #57AEE7;">
        <p><i class="fa-solid fa-location-dot fa-2x"></i>&emsp;Via del mare, 55 Costa Smeralda</p>
        <p><i class="fa-solid fa-envelope fa-2x"></i>&emsp;info@sunsea.it</p>
        <p><i class="fa-solid fa-phone-flip fa-2x"></i>&emsp;3456789123</p>             
    </span>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.137071822575!2d9.533556315255527!3d41.13153357928846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d940c93ede5b35%3A0xfccbf6c590058e20!2sCosta%20Smeralda%20Holidays!5e0!3m2!1sit!2sit!4v1652536173566!5m2!1sit!2sit" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
</form>