<!-- questa è la prova con menù senza bootstrap-->
<nav>
    <div class="header">
        <div class="logo">
          <a href="/index.php"> <img src="/static/img/logo.png" alt="logo" height="60" width="100"></a>
        </div>
  
        <ul class="menu">
          <li><a href="/index.php">Home</a></li>
          <li><a href="#about us">About us</a></li>
          <li><a href="#servizi">Servizi</a></li>
          <li><a href="#galleria">Galleria</a></li>
          <li><a href="#contatti">Contatti</a></li>
        </ul>
      
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
  
      </div>
</nav>