<div id="about us" class="poster">
    <div class="poster_content">
      <h2 class="med-text">About us</h2>
      <p>Il Sunsea è il luogo ideale per le famiglie, che da noi trovano un resort curato e una gamma completa di servizi, ma anche per i giovani che vogliono passare una giornata di relax per poi scatenarsi in aperitivi sulla spiaggia tra long drink e musica. Ogni sera uno splendido tramonto vi regalerà certamente un’emozione unica e sempre suggestiva.</p>
      <a href="" class="button"><i><u>Scopri di più</u></i></a>
    </div>
    <div class="poster_img">
      <img src="./static/img/poster1.png" alt="">
    </div>
</div>