<div class="container">
    <div class="row big-padding">
        <div class="col-md-3 col-xs-6">
            <h3>Spiaggia attrezzata</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis soluta et fugit, in blanditiis repellat nam, voluptatibus consectetur, debitis pariatur quas voluptates quasi minima temporibus earum explicabo. Adipisci, impedit, praesentium.</p>
            <a href="" class="button2">Scorpi di più</a>
        </div>
        <div class="col-md-3 col-xs-6">
            <h3>Docce calde e cabine</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis soluta et fugit, in blanditiis repellat nam, voluptatibus consectetur, debitis pariatur quas voluptates quasi minima temporibus earum explicabo. Adipisci, impedit, praesentium.</p>
            <a href="" class="button2">Scorpi di più</a>
        </div>
        <div class="col-md-3 col-xs-6">
            <h3>Parco giochi</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis soluta et fugit, in blanditiis repellat nam, voluptatibus consectetur, debitis pariatur quas voluptates quasi minima temporibus earum explicabo. Adipisci, impedit, praesentium.</p>
            <a href="" class="button2">Scorpi di più</a>
        </div>
        <div class="col-md-3 col-xs-6">
            <h3>Ristorante</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis soluta et fugit, in blanditiis repellat nam, voluptatibus consectetur, debitis pariatur quas voluptates quasi minima temporibus earum explicabo. Adipisci, impedit, praesentium.</p>
            <a href="./pages/resturants.php" class="button2">Scorpi di più</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row big-padding">
        <div class="col-md-3 col-xs-6">
            <h3>Campi beach volley</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis soluta et fugit, in blanditiis repellat nam, voluptatibus consectetur, debitis pariatur quas voluptates quasi minima temporibus earum explicabo. Adipisci, impedit, praesentium.</p>
            <a href="" class="button2">Scorpi di più</a>
        </div>
        <div class="col-md-3 col-xs-6">
            <h3>Tour della città</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis soluta et fugit, in blanditiis repellat nam, voluptatibus consectetur, debitis pariatur quas voluptates quasi minima temporibus earum explicabo. Adipisci, impedit, praesentium.</p>
            <a href="" class="button2">Scorpi di più</a>
        </div>
        <div class="col-md-3 col-xs-6">
            <h3>Eventi</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis soluta et fugit, in blanditiis repellat nam, voluptatibus consectetur, debitis pariatur quas voluptates quasi minima temporibus earum explicabo. Adipisci, impedit, praesentium.</p>
            <a href="" class="button2">Scorpi di più</a>
        </div>
        <div class="col-md-3 col-xs-6">
            <h3>Parcheggio privato</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis soluta et fugit, in blanditiis repellat nam, voluptatibus consectetur, debitis pariatur quas voluptates quasi minima temporibus earum explicabo. Adipisci, impedit, praesentium.</p>
            <a href="" class="button2">Scorpi di più</a>
        </div>
    </div>
</div>