<div id="servizi" class="servizi">
    <h2 class="med-text">I nostri servizi</h2>
</div>

<div class="container">
    <div class="row big-padding">
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <span style="color:#57AEE7; opacity: 70%;">
                <i class="fa-solid fa-umbrella-beach fa-3x"></i>
            </span>
            <hr/>    
            <h3>Spiaggia attrezzata</h3>
            <p>Un fantastico resort completo. Vieni a prenotare il tuo lettino, il tuo ombrellone, la tua cabina e la tua doccia privata.</p>
            <a href="/pages/umbrellas.php" class="button"><i><u>Scopri di più</u></i></a>
        </div>
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <span style="color:#57AEE7; opacity: 70%;">
                <i class="fa-solid fa-chess-rook fa-3x"></i>
            </span>
            <hr/>
            <h3>Mini club</h3>
            <p>Un'area giochi attrezzata e un servizio di animazione con cui far divertire i bambini di qualunque età. </p>
            <a href="/pages/playgrounds.php" class="button"><i><u>Scopri di più</u></i></a>
        </div>
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <span style="color:#57AEE7; opacity: 70%;">
                <i class="fa-solid fa-utensils fa-3x"></i>
            </span>
            <hr/>
            <h3>Ristorante</h3>
            <p>La cucina proposta dallo chef è attenta alla stagionalità delle materie prime e il servizio è di livello indiscutibile.</p>
            <a href="./pages/resturants.php" class="button"><i><u>Scopri di più</u></i></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row big-padding">
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <span style="color:#57AEE7; opacity: 70%;">
                <i class="fa-solid fa-volleyball fa-3x"></i>
            </span>
            <hr/>
            <h3>Campi beach volley</h3>
            <p>Una distesa di campi di beach volley vi aspettano per organnizzare tornei e partite con i vistri amici.</p>
            <a href="/pages/beach-volley.php" class="button"><i><u>Scopri di più</u></i></a>
        </div>
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <span style="color:#57AEE7; opacity: 70%;">
                <i class="fa-solid fa-city fa-3x"></i>
            </span>
            <hr/>
            <h3>Tour della città</h3>
            <p>Con il suo paesaggio pittoresco e mozzafiato, la Costa Smeralda rimane oggi una delle destinazioni più popolari in Italia.</p>
            <a href="/pages/tour-of-the-city.php" class="button"><i><u>Scopri di più</u></i></a>
        </div>
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <span style="color:#57AEE7; opacity: 70%;">
                <i class="fa-solid fa-martini-glass-citrus fa-3x"></i>
            </span>
            <hr/>
            <h3>Eventi privati</h3>
            <p>Vantando uno splendido spazio aperto fronte mare, la proprietà sull'esclusiva spiaggia è il luogo ideale per eventi.</p>
            <a href="/pages/private events.php" class="button"><i><u>Scopri di più</u></i></a>
        </div>
    </div>
</div>