<div id="servizi" class="servizi">
    <h3 class="big-text">I nostri servizi</h3>
</div>

<div class="container">
    <div class="row big-padding">
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <i class="fa-solid fa-umbrella-beach fa-2xl"></i>
            <hr/>    
            <h3>Spiaggia attrezzata</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis soluta et fugit, in blanditiis repellat nam, voluptatibus consectetur, debitis pariatur quas voluptates quasi minima temporibus earum explicabo. Adipisci, impedit, praesentium.</p>
            <a href="/pages/umbrellas.php" class="button">Scorpi di più</a>
        </div>
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <i class="fa-solid fa-shower fa-2xl"></i>
            <hr/>
            <h3>Docce calde e cabine</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis soluta et fugit, in blanditiis repellat nam, voluptatibus consectetur, debitis pariatur quas voluptates quasi minima temporibus earum explicabo. Adipisci, impedit, praesentium.</p>
            <a href="/pages/showers-and-cabins.php" class="button">Scorpi di più</a>
        </div>
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <i class="fa-solid fa-chess-rook fa-2xl"></i>
            <hr/>
            <h3>Mini club</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis soluta et fugit, in blanditiis repellat nam, voluptatibus consectetur, debitis pariatur quas voluptates quasi minima temporibus earum explicabo. Adipisci, impedit, praesentium.</p>
            <a href="/pages/playgrounds.php" class="button">Scorpi di più</a>
        </div>
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <i class="fa-solid fa-utensils fa-2xl"></i>
            <hr/>
            <h3>Ristorante</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis soluta et fugit, in blanditiis repellat nam, voluptatibus consectetur, debitis pariatur quas voluptates quasi minima temporibus earum explicabo. Adipisci, impedit, praesentium.</p>
            <a href="./pages/resturants.php" class="button">Scorpi di più</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row big-padding">
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <i class="fa-solid fa-volleyball fa-2xl"></i>
            <hr/>
            <h3>Campi beach volley</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis soluta et fugit, in blanditiis repellat nam, voluptatibus consectetur, debitis pariatur quas voluptates quasi minima temporibus earum explicabo. Adipisci, impedit, praesentium.</p>
            <a href="/pages/pitchs.php" class="button">Scorpi di più</a>
        </div>
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <i class="fa-solid fa-city fa-2xl" color="tomato"></i>
            <hr/>
            <h3>Tour della città</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis soluta et fugit, in blanditiis repellat nam, voluptatibus consectetur, debitis pariatur quas voluptates quasi minima temporibus earum explicabo. Adipisci, impedit, praesentium.</p>
            <a href="/pages/tour-of-the-city.php" class="button">Scorpi di più</a>
        </div>
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <i class="fa-solid fa-martini-glass-citrus fa-2xl"></i>
            <hr/>
            <h3>Eventi privati</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis soluta et fugit, in blanditiis repellat nam, voluptatibus consectetur, debitis pariatur quas voluptates quasi minima temporibus earum explicabo. Adipisci, impedit, praesentium.</p>
            <a href="/pages/events.php" class="button">Scorpi di più</a>
        </div>
        <div class="col-md-3 col-xs-6" style="text-align: center;">
            <i class="fa-solid fa-square-parking fa-2xl"></i>
            <hr/>
            <h3>Parcheggio privato</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis soluta et fugit, in blanditiis repellat nam, voluptatibus consectetur, debitis pariatur quas voluptates quasi minima temporibus earum explicabo. Adipisci, impedit, praesentium.</p>
            <a href="/pages/private-parking.php" class="button">Scorpi di più</a>
        </div>
    </div>
</div>